
body{
  background: #8FA0C6;
  font-family: Arial;
  margin: 0;
  padding: 0;
}
    #pst a{
	  text-decoration: none;
	  list-style-type: none;
    }
    header#main-header {
      background: #4E4C5E;
      padding: 0;
      height: 235px;
      width: 100%;       
    } 
    #main-header a {
      color: white;
    }
    #logo-header {
      float: none;
      padding: 1px 0 0 0;
      text-decoration: none;
    }
    #logo-header:hover {
      color: #0b76a6;
    }
  
    #logo-header .site-name {
      display: block;
      font-weight: 700;
      font-size: 1.2em;
    }
  
    #logo-header{
      display: block;
      font-weight: 300;
      font-size: 0.8em;
      color: #999;
      text-align: center;
    }
    #logo-foto{
      display: none;
    }
    .site-desc{
      display: none;
    }
    #main-footer {
      background: #4E4C5E;
      color: #F60;
      padding: .1em;
      text-align: center;
      width: 98%;
    }
    #main-footer p#autor{
      display: none;
    } 
    #main-footer a {
      color: #ffffff;
      text-decoration: none;
    }
    nav {
      float: none;
      margin-top: 1px;
      margin-bottom: 1px;
    }
    nav ul {
      margin: 0;
      padding: 0;
      list-style: none;
      padding-right: 2px;
    }
  
    nav ul li {
      display:block;
      line-height: 40px;
      background: #333;
      margin-top: 10px;
    }
      
    nav ul li a {
      display:block;
      padding: 0 2px;
      text-decoration: none;
      text-align: center;
      transition: 1s;
    }
      
    nav ul li a:hover {
      background: #0b76a6;
      transition: 1s;
    }
    section#cuerpo{
    background: #FFFFFF;
    width:98%;
    margin: auto;
    padding: .2em .2em .2em .2em;
  }
  aside#face{
    float: left;
    position: fixed;
    margin-top:50%;
    z-index: 1;
  }

/*secundario*/
  div.flexslider{
    background: #1E6381;
    border:1.1em solid #1E6381;
    border-bottom:1.8em solid #1E6381;
    border-radius:.2em;
    display:block;
    max-width: 600px;
    width: 92%;
    margin:auto;
    z-index: 0;
    }
    div.flexslider ul li img{
    border-radius: .5em;
   }
     #video{
      border: 3px solid orange;
      display:block;
      margin:auto;
      max-width: 559px;
      width: 100%;
      height: 30%;
    }
     div#himno{
      background: #1E6381;
      border:#1E6381 .2em solid;
      border-radius: .2em;
      display:block;
      width: 94%;
      margin:.1em auto;
    }
    img#himno{
      max-width:570px;
      width: 95%;
    }
    #fotos, .video{
      display:block;
    }
    section.video{
    padding: 0;
    width: 98%;
  }


section.video h1{
  background: #f60;
  color: #212121;
  padding: 0;
  margin: 0;
  font-family: Akronim;
  text-align: center;
}
h2#link_video, h1#link_cp{
  background: #FFFFFF;
  color: red;
  font-family: UnifrakturMaguntia;
  margin: 0;
  padding: 0;
  text-align: center;
}
section.video p{
  background: #FFFFFF;
  color: #212121;
  padding: 0;
  margin: 0;
  font-family: Abel;
  text-align: justify;
  }
  img#linea{
    width: 100%;
    height: auto;
  }
  div#centros_poblados img{
    margin: 0.5em auto;
    width: 100%;
    height: auto;
  }
/*La Tranca*/
div#centros_poblados{
	margin: 0.5em auto;
  width: 100%;
  display: block;
}
  div#links_1{
    display: none;
  }






    section#fotos_1{
      background: #ffffff;
      width: 96.5%;
  }
    audio{
      background: orange;
      margin: auto;
      width: 95%;
    }   
    article.comentarios{
      background: #ccc;
      max-width: 900px;
      width: 98%;
      display:block;
      margin: auto;
    }

    /*acerca*/ 


  h1#h1{
    color: red;
    font-family: Arial;
    text-align: center;
    display: none;
  }
  div.content p{
    color:#204862;
    margin: 0;
    padding: 0;
  }
  h1.turismo{
    font-family: sans-serif;
    color: crimson;
    margin: 0;
    padding: 0;
  }
  div.content p{
    font-family: Arial;
    text-align: justify;

  }
   h4#h4{
    margin: 0;
    padding: 0;
  }
  p#fuente{
    color: #212121;
    font-family: sans-serif;
    text-align: right;
  }
  div#fotos_left{
    float: none;
    margin-right: 0;
    padding: .1em;
    width: 100%;
  }
  div#fotos_right{
    float: none;
    margin-left: 0;
    padding: .1em;
    width: 100%;
  }
  div#fotos_right_1{
    float: none;
    margin-left: 0;
    padding: .1em;
    width: 100%;
  }
  div#fotos_2_fotos, div#fotos_3_fotos, div#fotos_2_fotos_1{
    display: block;
    width:100%;
    padding: .2em;
    max-width: 100%;
    min-height: 294px;
    margin: 1px auto;
    vertical-align: top;
  }
  article#fotos_2{
    display: block;
    width: 100%;
    max-width: 100%;
    min-height: 300px;
    margin-right: 0;
  }
  article#texto_txt{
    display: block;
    margin: 1px auto;
    width: 100%;
    min-height: 200px;
    padding: .2em;
  }
  #ich_1{
    width: 100%;
  }
  #ich, #ic, #uyr{
    max-width: 330px;
    width: 100%;
  }
  #tranca{
    background:#e78f08;
  }
  img.turismo{
    max-width: 600px;
    width: 100%;
    height:100%;
  }
  div.fotos, div.texto{
    display:block;
  }
  div.fotos{
    max-width: 600px;
    width: 100%;
  }
  div.texto{
    float: none;
    margin-bottom: 10px;
    max-width: 400px;
    padding: .1em;
    text-align: justify;
    width: 100%;
  }
  /*fotos*/
   section#fotos{
    background: #ffffff;
    margin:auto;
    width: 98%;
  }
  img#fade{
    display: block;
    padding: 1px;
    max-width: 600px;
    width: 98%;
    margin:auto;
    border: .2em solid rgba(255, 2, 255, .5);
    border-radius: .2em;
  }
  input.input{
    background: black;
    padding: .2em;
    color: orange;
  }
  div#input{
    padding-bottom: 1em;
    margin-left: 1.5em;
  }
  /*contacto*/
  textarea#comentarios{
        max-width: 500px;
        max-height: 60px;
        width: 95%;
    }
    #contenido{
        margin: auto;
        padding: 0;
    }
    section#contenido_ct{
      height: 95%;
    }
    input[type="email"], input[type="text"], textarea{
        background:#EEE;
        border-radius: .25em;
        color: #600;
        font-size: 1em;
        padding:.25em;
        width:95%;
    }

    input[type="email"]:focus, input[type="text"]:focus, textarea:focus{
        background: #C6ECF9; 
    }
    input[type="submit"] {
        background: #F90;
        border-radius:0  .25em;
        color: #500;
        font-family: "Chalet";
        font-size: 1.25em;
        padding: .25em; 
    }
    section#contacto{
        background: #011E30;
        border-radius: .5em;
        display: block;
        margin: auto;
        padding: 0;
        text-align:justify;
        width:100%;
        float: none;
    }
    section#mapa{
        background: #011E30;
        border-radius: .5em;
        display: block;
        margin: 1em auto;
        height:260px;
        max-width: 540px;
        text-align:justify;
        width:91%;
        float: none;
    }
    #mapa_incahuasi{
        max-width: 540px;
        width: 98%;
        height: 260px;
    }
    article#info-contacto, article#contactanos{
        border: .1em solid #1E6381;
        border-radius: .5em;
        margin: .5em;
        min-height: 144px;
        padding: .5em;
    }
    span.datos-contacto{
        color:#F90;
        margin-left: 1em;
    }
    #lg, #p{
        font-family: 'Bree Serif', serif;
        color:#CAC8C8;
    }
    h2#h2{
        font-family: 'Orbitron', sans-serif;
        color:orange;
    }
